* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

p {
  padding: 4px;
}

input {
  padding: 4px;
  font-size: 1em;
}

textarea {
  width: 100%;
  height: 40px;
  padding: 4px;
  font-size: 1em;
}

button {
  padding: 4px 8px;
  font-size: 1em;
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 3px;
}

.wrapper {
  width: 75%;
  margin: 15px auto 0px;
}

#logon {
  width: 80%;
  margin: 100px auto;
  padding: 25px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 4px;
}

#chat {
  display: inline-block;
  width: 100%;
  height: 500px;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 4px;
}
